<div class="wrapper">
  <h1>CS455 Assignment 1 - Feedback Form</h1>
  <div class="cards" *ngIf="!formSubmitted">
    <mat-card class="mat-elevation-z4">
      <h3>Are you satisfied overall with our products?</h3>
      <div class="input-block">
        <div class="slider-end left-end">Extremely dissatisfied: 1</div>
        <mat-slider
          [disabled]="disabled"
          [max]="5"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [(ngModel)]="satisfaction">
        </mat-slider>
        <div class="slider-end right-end">5: Extremely dissatisfied</div>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <h3>Do you find our products easy to use?</h3>
      <div class="input-block">
        <div class="slider-end left-end">Not usable at all: 1</div>
        <mat-slider
          [disabled]="disabled"
          [max]="5"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [(ngModel)]="easeofuse">
        </mat-slider>
        <div class="slider-end right-end">5: Extremely easy to use</div>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <h3>How much impact did our products have made on your daily routine?</h3>
      <div class="input-block">
        <div class="slider-end left-end">No impact whatsoever: 1</div>
        <mat-slider
          [disabled]="disabled"
          [max]="5"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [(ngModel)]="impact">
        </mat-slider>
        <div class="slider-end right-end">5: A huge impact</div>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <h3>Would you recommend our products to your friends and family?</h3>
      <div class="input-block">
        <div class="slider-end left-end">Strongly recommend against them: 1</div>
        <mat-slider
          [disabled]="disabled"
          [max]="5"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [(ngModel)]="recommendation">
        </mat-slider>
        <div class="slider-end right-end">5: Strongly recommend them</div>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <h3>Would you like to say something else about our products and/or services?</h3>
      <h6>Please do not include personal information here!</h6>
      <div class="input-block">
        <mat-form-field>
          <textarea matInput placeholder="We would love to hear from you!" [(ngModel)]="comments"></textarea>
        </mat-form-field>
      </div>
    </mat-card>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button (click)="submitForm()">Submit</button>
    </div>
  </div>

  <mat-card *ngIf="formSubmitted" class="thank-you">
    <h2>Thank you for your feedback</h2>
    <div>
      Your thoughts will help us to improve our services.
    </div>
    <div>
      <button mat-raised-button (click)="resetForm()">Submit another response</button>
    </div>
  </mat-card>
</div>